*.class
*.tokens
*.interp
ScientificCalcLexer.java
ScientificCalcParser.java
ScientificCalcVisitor.java
ScientificCalcBaseVisitor.java
ScientificCalcListener.java
ScientificCalcBaseListener.java
LabeledExprLexer.java
LabeledExprParser.java
LabeledExprVisitor.java
LabeledExprBaseVisitor.java
LabeledExprListener.java
LabeledExprBaseListener.java
